<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Index</title>
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
   <div class="container">
      <form action="http://127.0.0.1:5000/Manager">
         <button type="submit" class="btn">Manager</button>
      </form>
      <form action="http://127.0.0.1:5000/Tenant">
         <button type="submit" class="btn">Tenant</button>
      </form>
      <form action="http://127.0.0.1:5000/MT_page">
         <button type="submit" class="btn">MT</button>
      </form>
   </div>
   
</body>
</html>