
<!DOCTYPE html>
<html>
   <head>
      <title>Tenant Login</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
   </head>
   <body>
      <h3>Tenant Login</h3>
      <form action="http://127.0.0.1:5000/login" method="POST" id="form-container">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="example@gmail.com">
         <button type="submit" class="btn">Next</button>
      </form>
   </body>
</html>